<mat-toolbar class="barra_general">
    <div class="derecha">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        </button>
    </div>
    <div class="izquierda">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>account_box</mat-icon>
        </button>
    </div>
</mat-toolbar>