//***********************************************************************************************************************
// variables globales para el sistema

//RGB(153,153,153)  color gris institucional
//rgb(20,30,66) color azul 
//rgb( 193,181,0)    dorado



$color_barra: rgb(20, 30, 66); //navbar
$color_barra_inicio: #FFFFFF; //navbar
$color_subbarra: #64001D;

$color_texto_de_fondo: #FFFFFF; //dentro de barrars, botones,


$color_titulos: #64001D;
$color_subtitulos: #64001D;
$color_texto: #FFFFFF;


$color_boton: #64001D;



$nombre: 'SILEII';